.user {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md) !important;
}

.user:hover {
  background-color: light-dark(var(--mantine-color-turva-6), var(--mantine-color-turva-8));
  color: var(--mantine-color-dark-8);
}