zensical
mkdocstrings[python]
# Plugins below are not referenced in mkdocs.yml plugins; suspended pending Zensical plugin support:
# mkdocs-gen-files        # https://github.com/oprypin/mkdocs-gen-files
# mkdocs-literate-nav     # https://github.com/oprypin/mkdocs-literate-nav
